/vendor/
/node_modules/
/composer.lock

.idea*
/bin/*
!/bin/.gitkeep
!/bin/create_node_symlink.php

/etc/build/*
!/etc/build/.gitignore

/tests/Application/yarn.lock

/.phpunit.result.cache
/behat.yml
/phpunit.xml
/phpspec.yml

/node_modules
