parameters:
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'

    ignoreErrors:
        -
            message: "#^Method SitemapPlugin\\\\Command\\\\GenerateSitemapCommand\\:\\:channels\\(\\) should return iterable\\<int, Sylius\\\\Component\\\\Core\\\\Model\\\\ChannelInterface\\> but returns array\\<int, Sylius\\\\Component\\\\Resource\\\\Model\\\\ResourceInterface\\>\\.$#"
            count: 2
            path: src/Command/GenerateSitemapCommand.php
