parameters:
    level: 4

    reportUnmatchedIgnoredErrors: true

    paths:
        - src

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'
