<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         colors="true"
         stopOnDeprecation="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         bootstrap="tests/Application/config/bootstrap.php">
    <testsuites>
        <testsuite name="SitemapPlugin Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1" />

        <server name="KERNEL_DIR" value="tests/Application/"/>
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="1"/>
        <server name="APP_ENV" value="test"/>
        <server name="KERNEL_CLASS" value="Tests\SitemapPlugin\Application\Kernel"/>

        <env name="APP_ENV" value="test"/>
        <env name="SHELL_VERBOSITY" value="-1" />
    </php>
</phpunit>
